body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
    text-align: center;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.products img {
    width: 200px;
    margin: 15px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.products img:hover {
    transform: scale(1.05);
}

.product-page img {
    width: 250px;
    margin: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #333;
    padding: 10px;
}

button {
    padding: 15px 30px;
    background: green;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
